@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');


body,
p,
li {
    font-family: 'Roboto', serif;
    font-weight: 300;
    line-height: 1.75;
    font-size: 16px;
    color: #808285;
}


.text-white {


    p, li {


        color: #fff;
    }
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Roboto Slab', serif;
    line-height: 1;
    font-weight: 700;
    margin: 0 0 .25em;
    letter-spacing: -.025em;
    color: #00547E;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 2em;
}

h4 {
    font-size: 1.5em;
}

h5 {
    font-size: 1.25em;
}

h6 {
    font-size: 1em;
}

.text-white {


    h1, h2, h3, h4, h5, h6 {

        color: #fff;

    }

}



.subhead {
    font-family: 'Roboto', serif;
    font-weight: 700;
    letter-spacing: -.025em;
    text-transform: uppercase;
    color: #5D7875;
}

.hero h1 {
    font-size: 4em;
}

@media (max-width:767px) {
    .hero h1 {
        font-size: 6vw;
    }
    body,
    p,
    li {
        font-size: 3vw;
    }
}

@media (max-width:414px) {
    .hero h1 {
        font-size: 7vw;
    }
    body,
    p,
    li {
        font-size: 4vw;
    }
}