footer {
    img {
        width: 132px;
        height: 37px;
    }
    .section-bg {
        filter: grayscale(1);
    }
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            line-height: 2;
        }
        a {
            font-size: 1em;
            color: #fff;
            text-decoration: none;
        }
    }
    p {
        font-size: 1em;
        margin: 0;
    }
    .social li {
        display: inline-block;
    }
    .social li a {
        display: block;
        color: #fff;
        font-size: 100%;
        padding: 0 10px;
        position: relative;
    }
    .social ul {
        text-align: center;
    }
    .social {
        position: relative;
        padding: 5px;
        margin: 0 25%;
    }
}

.mobile-toggle {
    position: fixed;
    bottom: 3%;
    right: 3%;
    z-index: 1000;
    width: 17vw;
}

.mobile-toggle a {
    display: block;
    padding: 8.5vw 5vw;
    font-size: 0;
    background: #fff;
    border-radius: 100%;
    width: 17vw;
    height: 17vw;
}

.mobile-toggle a span {
    width: 7.5vw;
    display: block;
    background: #0a3043;
    height: 1px;
    transition: all .3s ease;
}

.mobile-toggle a span:before,
.mobile-toggle a span:after {
    width: 7.5vw;
    display: block;
    background: #0a3043;
    height: 1px;
    content: '';
    position: absolute;
    transition: all .3s ease;
}

.mobile-toggle a span:before {
    top: 6.5vw;
}

.mobile-toggle a span:after {
    bottom: 6vw;
}

.menu-open .mobile-toggle a {
    background: none;
}

.menu-open .mobile-toggle a span {
    background: rgba(0, 0, 0, 0);
}

.menu-open .mobile-toggle a span:before {
    transform: rotate(45deg) translate3d(2vw, 1vw, 0);
    background: #fff;
}

.menu-open .mobile-toggle a span:after {
    transform: rotate(-45deg) translate3d(2vw, -1vw, 0);
    background: #fff;
}

.android4 {
    .menu-open .mobile-toggle a span:before {
        -webkit-transform: rotate(45deg);
        top: 9vw;
    }
    .menu-open .mobile-toggle a span:after {
        -webkit-transform: rotate(-45deg);
        top: 9vw;
    }
}

.dummy {
    position: fixed;
    bottom: 3%;
    right: 3%;
    z-index: 1;
    background: rgba(0, 0, 0, .9);
    opacity: 1;
    transition: all .5s ease;
    pointer-events: none;
    border-radius: 100%;
    width: 17vw;
    height: 17vw;
}

.menu-open .dummy {
    opacity: 1;
    transform: scale(25);
    -webkit-transform: scale(25);
}

@media(max-width:414px) {
    footer img {
        margin: 0 auto;
        display: block;
    }
}
