/* Main Navigation */

.main-header {
    position: fixed;
    width: 100%;
    padding: 5px 10px;
    z-index: 100;
    top: 0;
}

.navigation .menu-main-menu-container ul .sub-menu,
.main-header {
    background: rgba(0, 0, 0, 0.75);
}

.logo {
    img {
        width: 200px;
        height: 57px;
    }
}

.navigation .menu-main-menu-container ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 25px;
    display: block;
    text-transform: uppercase;
    font-weight: 300;
}

.navigation .menu-main-menu-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navigation .menu-main-menu-container ul li {
    display: inline-block;
    padding: 10px 0;
}


.navigation .menu-main-menu-container ul li.ls-home {
    display: none;
}

.navigation .menu-main-menu-container ul .sub-menu {
    position: absolute;
    margin-top: 15px;
    transition: all .5s ease;
    opacity: 0;
    transform: translate3d(0, -10px, 0);
}

.navigation .menu-main-menu-container ul li.menu-item-has-children:hover .sub-menu {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}


.menu-open .main-header {

    background: rgba(0,0,0,.9);
}
.mobile-menu {
    position: fixed;
    z-index: 1000;
    background: rgba(0,0,0,0);
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity .5s ease;
    pointer-events: none;

    .menu-main-menu-container ul li a {
        color: #fff;
        text-decoration: none;
        padding: 10px 25px;
        display: block;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 6vw;
    }
    .menu-main-menu-container ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    .menu-main-menu-container ul li {
        display: block;
        padding: 10px 0;
        text-align: center;
    }
    .menu-main-menu-container ul li.menu-item-has-children ul li a {
        padding-bottom: 0;
        padding-top: 15px;
    }
}

.menu-open {


    .mobile-menu {

    opacity: 1;
    pointer-events: all;

    }



}

@media (max-width: 414px) {
    .navigation {
        display: none;
    }
    .logo img {
        margin: 0 auto;
        display: block;
    }
}