/* Section BG */

section,
footer {
	position: relative;
	background: #0d3346;
	overflow: hidden
}
section {
	background-image: url(/wp-content/uploads/2017/01/blue-bg-1-1800x1192.jpg);
	background-attachment: fixed;
	background-position: 50%;
	background-size: cover;
}
.section-bg,
.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: 50%;
	opacity: 0;
	transition: opacity 1s ease;
	will-change: opacity;
}
section:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: .5;
	z-index: 0;
	pointer-events: none;
	background: rgb(2, 44, 66);
}
.home .hero .section-bg {
	background-position: 50% 100%;
	background-attachment: fixed;
}
section.bg-white {
	background: #fff;
}
section.bg-white:before {
	content: none;
}

/** Overlays **/

.overlay {
	background: #000;
	opacity: .4;
}
.overlay.blue {
	background: rgb(2, 44, 66);
	opacity: .9;
}
.overlay.gradient-blue {
	background-image: linear-gradient(-90deg, #012B41 0%, #013A58 50%, #012B41 100%);
	opacity: .9;
}
.content {
	padding: 50px 7%;
	position: relative;
	z-index: 1;
}
.shadow-1 {
	box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}
.shadow-2 {
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.over {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.58);
	width: 100%;
	height: 100%;
	opacity: 0;
	transform: translate3d(0, 10px, 0);
	transition: all .5s ease;
	padding: 25px;
	top: 0;
}
.over:hover {
	opacity: 1;
	transform: translate3d(0, 0, 0);
}
.over h5,
.over h6 {
	color: #fff;
	padding: 5px 15px 0;
	margin: 0;
}
.over h6 {
	padding: 0 15px;
}

/** Buttons **/

.btn {
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
	font-size: 1.25em;
	position: relative;
	cursor: pointer;
}
.btn:after {
	content: '';
	position: absolute;
	bottom: -5px;
	height: 3px;
	width: 50%;
	background: #fff;
	left: 0;
	transition: width .5s ease;
}

/** Team Gallery **/

.single-headshot .section-bg,
.single-headshot .over {}
.btn:hover:after {
	width: 100%;
}
.wpcf7-submit.btn {
	margin: 25px 0;
	display: block;
	width: 100%;
	padding: 10px;
	background: none;
	border: 2px solid rgba(255, 255, 255, .25);
	font-weight: 800;
	color: rgba(255, 255, 255, .25);
	transition: all .5s ease;
	outline: none;
}
.wpcf7-submit.btn:hover {
	color: rgba(255, 255, 255, 1);
	border: 2px solid rgba(255, 255, 255, 1);
}

/** Properties */

.single-portfolio-item .section-bg {
	background-image: url(../../dist/img/default.jpg);
	background-size: cover;
	background-position: 50%;
}
.property-main .section-bg {
	background-image: url(../../dist/img/default-single.jpg);
	background-size: cover;
	background-position: 50%;
}

/** Contact Map **/

#map {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

/** Fields **/

.wpcf7-form-control:not(.btn) {
	border: none;
	padding: 0px 5px 15px 0px;
	width: 100%;
	margin: 0 0 5px;
	line-height: 1.25;
	background: none;
	color: #fff;
	outline: none;
}
.wpcf7-form-control-wrap:after {
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: -5px;
	background: #fff;
	left: 0;
	opacity: .25;
	transition: opacity .5s ease;
}
.wpcf7-form-control-wrap.active:after {
	opacity: 1
}
span.wpcf7-not-valid-tip {
	display: none !important
}
.wpcf7-form-control-wrap.invalid:after,
.wpcf7-form-control-wrap.invalid.active:after {
	background: #c30d00;
	box-shadow: 0px 0px 4px #c30d00;
	opacity: 1;
}
.wpcf7-response-output {
	padding: 10px !important;
	margin: 0 !important;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 100;
	width: 100%;
	text-align: center;
	background: rgba(6, 54, 79, 0.84) !important;
	border: none !important;
	text-transform: uppercase;
	font-weight: 700;
}
.wpcf7-response-output.wpcf7-validation-errors {
	background: #c30d00 !important;
	box-shadow: 0px 0px 4px #c30d00;
}

/** Title Bar **/

.title-bar {
	position: relative;
}
.title-bar h1 {
	color: #fff;
	position: relative;
	z-index: 1;
	font-size: 1.5em;
	padding: 10px;
	margin: 0;
}

/* Single Team */

.single-headshot .section-bg {
	background-position: 50% 25%;
}
.main-headshot {
	width: 100%;
	height: auto;
}

/* Single Property */

#single-map {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	border-left: 5px solid #5D7875;
}
.content.over-map {
	background: rgba(255, 255, 255, 0.9);
	position: absolute;
	bottom: 0;
	left: 6px;
	width: 100%;
}
//
//Properties Filter
ul.properties-filter {
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: center;
}
ul.properties-filter li {
	display: inline-block;
}
ul.properties-filter li a {
	padding: 5px 10px;
	display: block;
	line-height: 1;
	background: none;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	border: 1px solid #fff;
	border-radius: 100px;
	transition: all .3s ease;
	font-size: 12px;
}
ul.properties-filter li a.active {
	background: #fff;
	color: #5D7875;
}
li.cat-item.cat-item-1 {
	display: none;
}
.by-fiwi {
	width: 250px;
	height: 13px;
}
.active-label {
	display: none;
	background-image: url(../../dist/img/logo-mark-white.svg);
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: 45px 50%;
	background-color: rgba(0, 0, 0, 0.74);
	font-family: 'Roboto Slab', serif;
	font-weight: 700;
	color: #fff;
	position: absolute;
	bottom: 0;
	padding: 5px 45px;
	left: 0;
	width: 100%;
	text-align: right;
	letter-spacing: -.025em;
	font-size: 1.25em;
}
.active-property .active-label {
	display: block;
}
.current-member {
	display: none;
}
.gm-style-iw a {
	text-decoration: none;
	color: #00547e;
	font-weight: bold;
	font-family: 'Roboto Slab', serif;
}


#scroll-me {
    position: absolute;
    margin-left: 0;
    z-index: 1;
    text-align: left;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
	opacity: .75;
}

.roll-down {
    position: relative;
    height: 65px;
    margin-top: 20px;
    width: 40px;
    display: inline-block;
    border: 3px solid #fff;
    border-radius: 22px;
    content: ' ';
}

.roll-down:after {
    position: absolute;
    top: 15px;
    left: 50%;
    width: 6px;
    height: 6px;
    margin-left: -3px;
    display: block;
    border-radius: 50%;
    content: ' ';
    background: #fff;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: scrolling;
    animation-name: scrolling;
}

@-webkit-keyframes scrolling {
    0% {
        -webkit-transform: none;
        transform: none;
    }
    50% {
        -webkit-transform: translate3d(0, 400%, 0);
        transform: translate3d(0, 400%, 0);
    }
    100% {
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes scrolling {
    0% {
        -webkit-transform: none;
        transform: none;
    }
    50% {
        -webkit-transform: translate3d(0, 400%, 0);
        transform: translate3d(0, 400%, 0);
    }
    100% {
        -webkit-transform: none;
        transform: none;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	.over {
		padding: 10px;
		opacity: 1;
		transform: none;
	}
	footer a {
		color: #fff;
		text-decoration: none;
	}
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
	.content {
		padding: 5% 10%;
	}
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
	.content {
		text-align: left;
	}
	.navigation .menu-main-menu-container ul {
		text-align: center;
	}
	.logo img {
		margin: 0 auto;
		display: block;
	}
	.hero [class^="col"] {
		width: 80%;
		margin: 0 auto;
	}
	.col-tab-port-6 {
		width: 50%;
		float: left;
		margin: 0;
	}
	footer .social li a {
		font-size: 4vw;
	}
	footer .menu {
		padding: 0 18px;
	}
}
@media (max-width:767px) {
	#wpadminbar {
		display: none;
	}
	.content {
		padding: 5%;
		text-align: left;
	}
	ul.properties-filter li {
		width: 100%;
		display: block;
		margin: 5px 0;
	}
	ul.properties-filter li a {
		font-size: 4vw;
		margin: 0 5px;
		display: block;
	}
	ul.properties-filter li a {
		display: none;
	}
	#filter-cover {
		display: block;
	}
	footer .social li a {
		font-size: 8vw;
	}
}
@media (max-width: 414px) {
	.home .hero .section-bg,
	section {
		background-attachment: scroll;
	}
	.prop-details {
		text-align: left;
	}
	.title-bar h1 {
		text-align: center;
		font-size: 1em;
	}
	.wpcf7-response-output {
		padding: 8vw 25vw 9vw 20px !important;
		font-size: 3vw !important;
		text-align: left;
		line-height: 1.5;
	}
	.over {
		padding: 10px;
		opacity: 1;
		transform: none;
	}
	.over h5 {
		font-size: 4vw;
	}
	.over h6 {
		font-size: 3vw;
	}
	footer a {
		color: #fff;
		text-decoration: none;
	}
}
@media only screen and (max-device-width: 736px) and (orientation: landscape) {
	.navigation .menu-main-menu-container ul li a {
		font-size: 2.5vw;
		padding: 10px 3vw;
	}
	.ls-home {
		display: inline-block;
	}
	.content {
		text-align: left;
	}
	.main-header {
		position: relative;
	}
	.mobile-toggle a,
	.dummy {
		display: none !important;
	}
	footer img {
		width: 200px;
		margin: 0 auto;
		display: block;
	}
	.over {
		padding: 10px;
		opacity: 1;
		transform: none;
	}
	.over {
		padding-top: 15%;
	}
	.over h5 {
		font-size: 2.25vw;
	}
	.over h6 {
		font-size: 1.5vw;
	}
	.visible-ls {
		display: block !important;
	}
	.col-ls-6 {
		width: 50%;
		display: inline-block;
		float: left;
	}
	.col-ls-3 {
		width: calc(100% / 3);
		display: inline-block;
		float: left;
	}
	.hidden-ls {
		display: none;
	}
	.navigation .menu-main-menu-container ul {
		text-align: center;
	}
	.title-bar {
		padding-top: 0 !important;
		text-align: center;
	}
	footer a {
		color: #fff;
		text-decoration: none;
	}
	.single-headshot .over h5 {
		font-size: 4vw;
	}
	.single-headshot .over {
		padding-top: 50%;
	}
	.admin-bar .main-header {
		top: 0;
	}
}
