li#wlcms_admin_logo img {
    width: 45px !important;
    height: 30px !important;
    background: none;
    margin-top: 0;
}

li#wlcms_admin_logo {
    width: 30px;
}

#login {
    position: relative;
    z-index: 1;
}


body,
p,
li {
font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 1.75;
    font-size: 16px;
    color: #808285;
}


.text-white {


    p, li {


        color: #fff;
    }
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Roboto Slab', serif;
    line-height: 1;
    font-weight: 700;
    margin: 0 0 .25em;
    letter-spacing: -.025em;
    color: #00547E;
}

.login h1 a {
    background: url(../../dist/img/logo-full.svg) no-repeat bottom center !important;
    margin-bottom: 10px;
    background-size: auto 100% !Important;
    width: 100%;
}


#wpfooter {
    width: 300px;
    background-image: url(../../admin/img/FIWI-classic-website.svg);
    background-size: 300px auto;
    background-position: 50%;
    background-repeat: no-repeat;

}

#wpfooter p, #wpfooter a {

    color: rgba(0,0,0,0);
}

li#wp-admin-bar-site-name > a {
     color: rgba(0,0,0,0) !important;
    background: url(../../dist/img/logo-full-white.svg) !important;
    background-size: cover !important;
}

.wp-admin #wpadminbar #wp-admin-bar-site-name >.ab-item:before {
    color: rgba(0,0,0,0) !important;
}

.wp-admin #wpadminbar #wp-admin-bar-site-name:hover>.ab-item {

    background-color: rgba(23, 79, 136, 0.23);
    background: url(../../dist/img/logo-full-white.svg) !important;
    background-size: cover !important;

}

/** Documentation **/

.topic-handle {
    font-size: 22px;
	outline: none !important;
	border: none !important;
	box-shadow: none !important;
}


.collapsed {


	display: none;
}

.doc-content {

	padding: 15px 25px !important
}

.doc-content p {

	font-size: 16px !important;
	line-height: 1.5 !important;
}

.doc-content ul {

	padding: 5px 20px;
	list-style: disc;

}

.image-doc {
    width: 300px;
    margin: 0 auto;
    float: right;
	margin: 0 0 25px 25px;
    -o-object-fit: cover;
    object-fit: cover;
	border: 5px solid #eee;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.event h2.active, .event h2.active a {
    background: #0073aa;
    color: #fff;
}

.documentation-table {

	width: 50%;
}


li#toplevel_page_documentation_admin_panel img {
    width: 24px;
    padding: 5px !important;
}

@media screen and (max-width: 782px) {

li#wp-admin-bar-site-name a {
    width: 170px !important;
}


}
